{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(value=employee.name) }}
    </p>
    <p>
        {{ form.dob.label }}<br>
        {{ form.dob(value=employee.dob) }}
    </p>
    <p>
        {{ form.salary.label }}<br>
        {{ form.salary(value=employee.salary) }}
    </p>
    <p>
        {{ form.department.label }}<br>
        {{ form.department(value=employee.department.title) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}}