{% extends "layout.html" %}}

{% block title %}
{{ employee.name }}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="empl-name">Employee: {{ employee.name }}</h1>

    <table border="3" align="center" class="empl-inf">
        <tr>
            <th>Full Name</th>
            <th>Date of bith</th>
            <th>Salary</th>
            <th>Departments</th>
        </tr>
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.dob }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.department.title }}</td>
        </tr>
    </table>
    <a class="btn btn-primary btn-lg edit-button" href="{{ url_for('edit_employee', id=employee.id) }}" role="button">Edit</a>
    <a href="{{ url_for('employee_delete', id=employee.id) }}" class="btn btn-danger btn-lg active delete-button" role="button" aria-pressed="true">Delete</a>

</div>
{% endblock %}