.form{
    margin-right: .9rem!important;
}
.str-title{
    text-align: center;
}
.button{
    position: absolute;
    left: 49%;
}
.empl-name{
    position: absolute;
    left: 20%;
}
.add{
    margin-left: 1070px;
    width: 60px;
    height: 30px;
}
.add_button{
    position: absolute;
    left: 48%;
}
.delete-button{
    position: absolute;
    left: 74%;
    top: 14%;
}
.edit-button{
    position: absolute;
    left: 70%;
    top: 14%;
}